{% extends "layout.twig" %}
{% block contenu %}
	<br/>
	<div class="row">
		<h3>Générer les statistiques de la semaine</h3>
		<p>Dernière génération
			: {#{{ dump(last_generate) }}#} {% if last_generate %}{{ 'semaine '~last_generate.NUM_SEMAINE~', année '~last_generate.ANNEE }}
			{% else %}aucune{% endif %}</p>
		{% if not last %}
			{{ anchor("c=Admin_c&m=genererStat", "Générer",{'class':'button small'}) }}
		{% else %}
			{{ anchor('c=Admin_c', 'Générer', {'class':'button small secondary','disabled':''}) }}
		{% endif %}
	</div>
{% endblock %}
