{% extends "layout.twig" %}
{% block contenu %}
	<br/>
	<div class="row">
		<h3>Générer les statistiques de la semaine</h3>
		{{ anchor("Admin_c/genererStat","Générer",{'class':'button small'}) }}
	</div>
{% endblock %}
